
$theme-colors: (
  "primary": #258CB9,
  "secondary": #ABB4E2,
        "light": #ABB4E2,
);

$body-bg: #9D9393;

$headings-color: #FFFFFF;
$headings-font-family: MonoSpace;
// BOOTSTRAP
@import "~bootstrap/scss/bootstrap";


